.container {
  border: 2px solid rgb(72, 124, 236);
  text-align: center;

  border-radius: 5px;
  cursor: pointer;

  float: right;
  width: 200px;
  margin: 43px 13px 13px 13px;

  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.container:hover {
  background: rgb(37, 37, 37);

  border: 2px solid rgb(37, 37, 37);
}

.padding {
  padding: 12px;
}
