.container {
  border: 2px solid rgb(72, 124, 236);

  border-radius: 5px;
  cursor: pointer;

  margin: 13px;
  float: right;

  width: 140px;

  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.container:hover {
  background: rgb(37, 37, 37);

  border: 2px solid rgb(37, 37, 37);
}

.padding {
  padding: 12px;
}
