.topNavElement {
  cursor: pointer;
  color: #DFDCE3;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;

  float: right;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;

  height: 40px;

  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.topNavElement:hover {
  background: #292929;
  color: rgb(72, 124, 236);
}

.active {
  border-bottom: 3px solid rgb(72, 124, 236);
  padding-bottom: 7px;

  color: rgb(72, 124, 236);
}
