.paddingLeft {
  padding-left: 10px;
}

.borderTop {
  border-top: 2px solid rgb(72, 124, 236);

  padding-top: 15px;
  width: calc(100%-10px);
}

.container {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  font-family: 'Quicksand', sans-serif;

  width: 94%;
  border-radius: 7px;

  margin: 13px;
  float: left;
}

.padding {
  padding: 12px;
  height: 250px;
}
