.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 100%;

  background: #373737;
  background-size: cover;

  overflow: scroll;
}

.marginLeft {
  margin-left: 25px;
}

.paddingLeft {
  padding-left: 10px;
}

.borderTop {
  border-top: 2px solid rgb(72, 124, 236);

  padding-top: 35px;
  width: 850px;

  padding-left: 10px;
}

.spaceTop {
  position: relative;
  top: 80px;
}

.space {
  padding-right: 20px;
}

.topBar {
  width: 94%;
  margin: 13px;
  float: left;
}

.floatRight {
  float: right;
}

.bottomSpace {
  float: left;
  height: 40px;
  width: 200px;
}
