.NewDeviceContainer {
  background-color: rgb(240,240,240);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  cursor: pointer;

  height: 400px;
  width: 47%;
  float: left;
  margin: 13px;

  transition-duration: 0.2s;
  transition-timing-function: ease;

  border: none;
  outline: none;
}

.NewDeviceContainer:hover {
  background-color: rgb(220,220,220);
}

.NewDeviceContainer:active {
  background-color: rgb(240,240,240);
}
