.PageNotFound {
  width: 100%;
  margin: auto;

  font-size: 75px;
  text-align: center;
  font-weight: lighter;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(75,75,75);
}
