.Item--Container {
  width: 97%;
  height: 150px;

  overflow: hidden;

  margin: 15px auto 15px auto;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.Item--Image {
  float: left;

  height: 150px;
  width: 23%;
}

.Item--Title {
  font-size: 30px;
  font-weight: lighter;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(72, 124, 236);

  padding: 10px 0px 0px 10px;
  float: left;
  height: 100%;
  width: 53%;

  border-left: 1px solid grey;
}

.Item--Description {
  font-size: 20px;
  color: black;

  width: 100%%;
  padding-top: 10px;
}

.Item--Price {
  font-size: 24px;
  font-weight: lighter;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;

  float: left;
  border-left: 1px solid grey;

  width: 22%;
  height: 140px;
  padding-top: 20px;
}

.AddToCartButton--Container {
  width: 90%;

  margin: 20px auto 0px auto;
}
