.PageContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(240,240,240);

  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ContentContainer {
  margin-top: 52px;
  height: 100%;
  display: flex;
}

.TopNav--container {
  background-color: rgb(36, 41, 46);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);

  position: fixed;
  z-index: 0;
  display: flex;
  width: 100%;
  height: 52px;
}

.TopNav--tab-container {
  justify-content: flex-end;
  display: flex;

  width: 80%;
  padding-right: 10px;
}

.TopNav--tab {
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  color: rgb(215, 215, 215);
  -webkit-font-smoothing: antialiased;

  margin: auto 10px;

  cursor: pointer;
  text-decoration: none;
}

.TopNav--tab:hover {
  color: rgb(72, 124, 236);
}

.TopNav--logo {
  width: 20%;
  margin: auto 0px auto 15px;

  font-size: 26px;
  font-weight: normal;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.blueRef {
  cursor: pointer;
  text-decoration: none;

  color: rgb(72, 124, 236);
}

.greyRef {
  cursor: pointer;
  text-decoration: none;

  color: rgb(215, 215, 215);
}
